# In production apps, we clear the values or use default ones.

# Rails
APP_HOST='localhost:3000'
BASE62_ALPHABET=5hK8XzN9pQ2w4rRstuT7vWxmYyZ136AbBcCdDeEfFgGHiJkLnMjPqS
# Postgres Connection Details
DB_HOST=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

# Redis
REDIS_URL=redis://redis:6379/1